.abc_block {
    border-bottom: 1px solid #dee2e7;
    border-top: 1px solid #dee2e7;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;

    & + & {
        margin-top: 1em;
    }
}

.abc_block_item {
    align-items: center;
    border-radius: 3px;
    color: #185394;
    display: flex;
    font-family: "helveticaneuecyrroman";
    font-weight: 600;
    font-size: 0.9em;
    height: 40px;
    justify-content: center;
    min-width: 40px;
    text-align: center;
    text-transform: uppercase;

    &:first-child {
        text-transform: capitalize;
    }

    &[data-path="otdelenie"] {
        margin-right: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}

.abc_block_item_current {
    background-color: #fd7100;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.abc_block_item_empty {
    color: #cfd5dd;
    display: none;

    &:hover {
        color: #cfd5dd;
    }
}

.abc_list {
    margin-top: 1.5em;

    &:not(:last-child) {
        border-bottom: 1px solid #dee2e7;
        margin-bottom: 1.5em;
    }
    @media(min-width: 768px) {
        position: relative;
        padding: 0 0 1.5em 4em;
    }

    &[data-title=""] {
        padding-right: 0;
        @media(min-width: 768px) {
            padding-left: 1.5em;
        }
    }

    &:before {
        @media(min-width: 768px) {
            color: #edeff2;
            content: attr(data-title);
            font-size: 3em;
            left: 0;
            position: absolute;
            top: 0;
            text-transform: uppercase;
        }
    }
}

.abc_list_year {
    padding: 0 0 1.5em 11.1em;
}

.abc_list_item {
    box-sizing: content-box;
    min-height: 70px;
    position: relative;
    @media(min-width: 768px) {
        min-height: 100px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #edeff2;
        margin-bottom: 0.75em;
        padding-bottom: 1em;
    }

    a {
        display: block;
        color: #185394;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    span {
        color: #323232;
        display: block;
        font-size: 0.8em;
        line-height: 1.5;
    }

    div {
        background-color: #edeff2;
        border-radius: 50%;
        height: 70px;
        left: 0;
        margin-right: 10px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 70px;
        z-index: 1;
        @media(min-width: 768px) {
            height: 100px;
            width: 100px;
        }

        & + a {
            padding-left: 80px;
            @media(min-width: 768px) {
                padding-left: 110px;
            }
        }
    }

    p {
        font-size: 0.8em;
        margin-top: 0;
        padding-left: 80px;
        @media(min-width: 768px) {
            padding-left: 110px;
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}