*,
body,
html {
    font-family: "helveticaneuecyrroman";
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    background-color: white;
    font-size: 1em;
    overflow-x: hidden;
}

body {
    word-break: break-word;
}

.content_width {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.full_width {
    width: 100%;
}

.white {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #185394;
    margin: 1.5em 0 1em;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h3,
h4,
h5,
h6 {
    font-family: "museo_sans_cyrl700";
    text-transform: uppercase;
}

h1 {
    font-family: "museo_sans_cyrl500";
    font-size: 1.75em;
    margin: 0.5em 0;
    @media(min-width: 768px) {
        font-size: 2em;
    }
    @media(min-width: 1024px) {
        font-size: 2.75em;
    }
}

h2 {
    font-size: 1.5em;
    font-family: "museo_sans_cyrl500";
    @media(min-width: 768px) {
        font-size: 1.75em;
    }
    @media(min-width: 1024px) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

h5,
h6 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

hr {
    border: none;
    border-bottom: 1px solid #dee2e7;
    margin: 1.5em 0;
}

a {
    color: #185394;
    text-decoration: none;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

a:hover {
    color: #f88936;
}

b,
strong {
    font-weight: bold !important;
}

.hide {
    display: none;
}

.clr::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

img {
    height: auto;
    max-width: 100%;
}

.ekran-small {
    margin-top: 20px;
    @media(min-width: 992px) {
        display: none;
    }
}

.ekran-big {
    display: none;
    @media(min-width: 992px) {
        display: block;
    }
}