.breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.5;
    margin: 1em 0;
    @media(min-width: 1024px) {
        font-size: 14px;
        line-height: 1.75;
        margin-top: 1.8em;
        margin-bottom: 1.8em;
        padding-left: 15px;
        padding-right: 15px;
    }

    li {
        align-items: center;
        color: #94a0b2;
        display: flex;
        font-family: "helveticaneuecyrroman";
        margin: 0;

        &:not(:last-child) {
            &::after {
                //background-image: url("../img/svg/small_right_arrow.svg");
                background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/svg/small_right_arrow.svg");
                background-size: 100% 100%;
                content: '';
                display: inline-block;
                height: 7px;
                margin: 0 0.7em;
                opacity: 0.4;
                width: 4px;
                @media(min-width: 1024px) {
                    height: 14px;
                    width: 8px;
                }
            }
        }

        a {
            color: #185394;
            text-align: left;
        }
    }
}