.feedback_result {
    background: #edffef;
    padding: 25px;

    h2 {
        margin: 0 0 5px;
    }

    p {
        margin: 0;
    }
}

.feedback_popup_result {
    text-align: center;
    padding: 40px;

    h2 {
        margin: 0 0 10px;
    }

    p {
        margin: 0;
    }
}