.feedback_result {
    background: #edffef;
    padding: 25px;
}

.feedback_result h2 {
    margin: 0 0 5px;
}

.feedback_popup_result p,
.feedback_result p {
    margin: 0;
}

.feedback_popup_result {
    text-align: center;
    padding: 40px;
}

.feedback_popup_result h2 {
    margin: 0 0 10px;
}