.flex_blocks {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_blocks_item {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    height: 464px;
    margin: 0 8px 16px;
    overflow: hidden;
    position: relative;
    max-width: 290px;
    @media(min-width: 1024px) {
        margin-left: 0;
        margin-right: 0;
    }

    &:hover {
        background-color: #edeff2;
        border: 1px solid #edeff2;

        .flex_blocks_item_h,
        .flex_blocks_item_p {
            color: #185394;
        }

        img {
            opacity: 0.8;
        }
    }
}

.flex_blocks_item_small {
    height: 224px;
}

.flex_blocks_item_long {
    width: 594px;
    height: 224px;
}

.flex_blocks_item_big,
.flex_blocks_item_long {
    .flex_blocks_item_p {
        max-height: 60px;
    }
}

.flex_blocks_item_big {
    width: 594px;
    height: 464px;
}

.flex_blocks_item_h,
.flex_blocks_item_i {
    transition: all ease 0.2s;
}

.flex_blocks_item_h {
    font-family: "museo_sans_cyrl500";
    color: #000;
    font-size: 1.25em;
    line-height: 23px;
    margin: 1em 0;
    padding: 0 1em;
    max-height: 7em;
    overflow: hidden;
}

.flex_blocks_item_d,
.flex_blocks_item_p {
    font-family: "helveticaneuecyrroman";
    line-height: 20px;
    padding: 0 1em;
}

.flex_blocks_item_t {
    color: #94a0b2;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    bottom: 17px;
    right: 1em;

    &:hover {
        text-decoration: underline;
    }
}

.flex_blocks_item_p {
    margin: 1em 0;
    max-height: 6.5em;
    overflow: hidden;
    transition: all ease 0.2s;
    color: gray;
    font-size: 0.95em;
}

.flex_blocks_item_d {
    color: #94a0b2;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    bottom: 1em;
    left: 1em;
}