///templates/nrcerm/dist/css/fonts/
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url("../fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url("../fonts/museosansbold-webfont.woff2") format("woff2"), url("../fonts/museosansbold-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url("../fonts/museosansmedium-webfont.woff2") format("woff2"), url("../fonts/museosansmedium-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*@font-face {
    font-family: helveticaneuecyrroman;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/templates/nrcerm/dist/css/fonts/helveticaneuecyr-roman-webfont.woff2) format("woff2"), url(/templates/nrcerm/dist/css/fonts/helveticaneuecyr-roman-webfont.woff) format("woff")
}

@font-face {
    font-family: museo_sans_cyrl700;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/templates/nrcerm/dist/css/fonts/museosansbold-webfont.woff2) format("woff2"), url(/templates/nrcerm/dist/css/fonts/museosansbold-webfont.woff) format("woff")
}

@font-face {
    font-family: museo_sans_cyrl500;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/templates/nrcerm/dist/css/fonts/museosansmedium-webfont.woff2) format("woff2"), url(/templates/nrcerm/dist/css/fonts/museosansmedium-webfont.woff) format("woff")
}*/