.poorVision-controls {
    display: none;
}

html.poorVision .poorVision-controls {
    display: block;
    color: #fff;
}

.poorVision-controls a {
    color: #fff;
}

.poorVision-control span {
    height: 25px;
    display: inline;
    vertical-align: middle;
    line-height: 1.7 !important;
}

.white-black,
.white-black:after,
.white-black:before {
    background: #ffffff !important;
    color: #000000 !important;
}

.black-white,
.black-white:after,
.black-white:before {
    background: #000000 !important;
    color: #ffffff !important;
}

.blue-yellow,
.blue-yellow:after,
.blue-yellow:before {
    background: blue !important;
    color: yellow !important;
}

.black-white input,
.black-white textarea {
    background: #fff !important;
}

.black-white input[type=button],
.black-white input[type=reset],
.black-white input[type=submit] {
    color: #fff !important;
}

.black-white aside ul li div,
.white-black aside ul li div,
.white-black aside ul li div {
    display: none;
}

.poorVision-control {
    padding: 5px;
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    background: #ffffff;
    color: #000;
    text-align: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
}

.imageAlt {
    display: none;
}

.dummy_img {
    display: none;
    padding: 10px;
    outline: 2px solid #000;
}

.poorVision input::-webkit-input-placeholder,
.poorVision textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #000;
}

.poorVision input::-moz-placeholder,
.poorVision textarea:-moz-placeholder {
    opacity: 1;
    color: #000;
}

.poorVision input:-ms-input-placeholder,
.poorVision textarea:-ms-input-placeholder {
    opacity: 1;
    color: #000;
}

.poorVision body {
    background-image: none !important;
}

.poorVision body,
.poorVision body > nav .home,
.poorVision body > nav .search {
    background-color: #fff;
}

.poorVision .grayBlock,
.poorVision .open-menu .col-1 {
    background: #fff;
}

.poorVision body > main .news-block:before {
    display: none;
}

.poorVision .button,
.poorVision .button:focus {
    background: #000;
    color: #fff;
}

.poorVision .hidden-trigger {
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
}

.poorVision .hidden-trigger:hover {
    background: #fff !important;
    color: #000 !important;
}

.poorVision body > main .news-block:not(.blank):hover .news-text {
    top: 0;
    height: 200px;
    border-top: 3px solid #fff;
}

.poorVision .grid-4 .grid-3.cell-2 > .col-1,
.poorVision .grid-4.cell-2 > .col-1 {
    height: auto;
}

.poorVision .open-menu .col-1 {
    border: 2px solid #000;
}

.poorVision .open-menu .col-1 .js-menu-open {
    position: static;
    bottom: 0;
    margin: 20px 0 20px 17px;
}

.poorVision h2 a[href]:after {
    border-bottom: 3px solid #000;
}

.poorVision body > main .person .person-data {
    margin-left: 0;
}

.poorVision body > main .person .person-name {
    display: block;
}

.poorVision body > main .pagination .pages a {
    background: black;
    color: white;
}

.poorVision body > main .pagination .pages a[href] {
    background: white;
    color: black;
}

.poorVision body > footer {
    background: #000;
}

.poorVision a[href]:hover {
    color: #000;
    text-decoration: underline;
}

.poorVision .req .block > h3 {
    background-color: black;
    color: white;
    cursor: pointer;
}

.poorVision .slider {
    overflow: visible !important;
}

.poorVision .slider ul {
    display: none;
}

.poorVision .slider .slider-paginate {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    border: 2px solid #000;
}

.poorVision .slider .slider-paginate p {
    color: #000;
    font-size: 36px;
    line-height: 1.4;
}

.poorVision .slider .slider-paginate ol {
    position: static;
    overflow: hidden;
    position: absolute;
    bottom: 14px;
}

.poorVision .slider .slider-paginate ol li {
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    transition: none;
}

.poorVision .slider .slider-paginate ol li.active {
    background: #000;
}

.poorVision .slider .slider-paginate ol li:active {
    background: #000 !important;
    color: #fff !important;
}

.poorVision body > footer ul li {
    color: #fff;
}

.poorVision .button:active {
    background: #000 !important;
}

.poorVision footer a[href]:hover {
    color: #fff;
}

.poorVision .icon.icon-round:after {
    background: #fff;
}

.poorVision footer .icon.icon-round:after {
    background: #fff;
}

.poorVision input[type="text"],
.poorVision input[type="email"],
.poorVision input[type="password"],
.poorVision select.value {
    border: 2px solid #000;
    background: #fff;
}

.poorVision textarea {
    border: 2px solid #000;
    background: #fff;
    overflow: hidden;
}

.poorVision .thin,
.poorVision .type,
.poorVision body > main .breadcrumbs a.crumb,
.poorVision body > main .news-block .news-text .news-date {
    color: #58595b;
}

.poorVision ul.container li a:hover {
    color: #fff !important;
}

.poorVision body > nav > ul li:hover ul {
    background: #000;
}

.poorVision body > nav {
    background: #000;
}

.poorVision body > main.inner {
    border-top: 3px solid #000;
}

.poorVision .dummy_img {
    display: block;
}

.poorVision main div.content .dummy_img {
    margin-left: 2px;
}

.poorVision main div.content p span {
    color: #000 !important;
}

.poorVision img .blind_display {
    display: auto;
}

.poorVision .imageAlt {
    display: auto;
}

.poorVision .content ul {
    list-style-image: none;
}

.site-version {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
}

.blindSelector-wrapper {
    display: none;
}

.poorVision .blindSelector-wrapper {
    display: block;
}

.poorVision .blindSelector-mini-wrapper {
    display: none;
}

.poorVision .blindSelector {
    background: #000;
    padding: 10px;
}

.poorVision .blindSelector a:hover {
    color: #fff !important;
}

.poor-font-size {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.poor-font-size li {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 0;
    margin: 0 4px;
    padding-bottom: 10px;
    cursor: pointer;
}

.poor-font-size li.poor-font-size_default {
    background-position: 4px 0;
}

.poor-font-size li.poor-font-size_large {
    background-position: -19px 0;
}

.poor-font-size li.poor-font-size_xlarge {
    background-position: -46px 0;
}

.poor-font-size li.selected {
    cursor: default;
}

.poor-font-size li.selected:after {
    content: '';
    display: block;
    width: 12px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
}

.poorVision .hidden-trigger .hidden-text {
    border: 2px solid #000;
}

.poorVision .news .js-to-bottom {
    top: 10px !important;
    display: block;
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
}

.poorVision .news .js-to-bottom:hover {
    color: #fff !important;
}

.poorVision .person-data a {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
}

.poorVision .person-data a:hover {
    color: #fff !important;
}

.poorVision circle,
.poorVision ellipse {
    fill: #000;
    stroke: #000;
}

.poorVision img.captchaImage {
    display: inline-block !important;
    width: 282px;
}

.poorVision .banners .container .container .dummy_img {
    display: inline-block;
    margin: 0 10px;
}

.poorVision .banners .container .container a.banner-img {
    display: inline-flex;
}

.poorVision path {
    fill: #000;
}

.poorVision .blindSelector {
    width: 100%;
    line-height: 16.9px;
    font-size: 13px;
    letter-spacing: normal;
}

.fontsize__large .hidden-trigger,
.fontsize__large body > main .news-block .news-text .news-date,
.fontsize__large body > main .person .person-title,
.fontsize__large input[type="text"],
.fontsize__large input[type="email"],
.fontsize__large input[type="password"],
.fontsize__large select.value,
.fontsize__large .menu-list a,
.fontsize__large body > main .news-block .news-text .news-content,
.fontsize__large body > footer div.copyright,
.fontsize__large body > main .breadcrumbs a.crumb[href],
.fontsize__large body > main .breadcrumbs a.crumb,
.fontsize__large table td,
.fontsize__large table th,
.fontsize__large ul.small-list li {
    font-size: 13px;
}

.fontsize__large .grid-4 .grid-3 .col-3,
.fontsize__large body > main .person .person-description {
    font-size: 14px;
}

.fontsize__large .menu-list a,
.fontsize__large .news .js-to-bottom,
.fontsize__large .person-data a,
.fontsize__large .type,
.fontsize__large body > footer div.poweredby,
.fontsize__large body > footer ul li,
.fontsize__large ul.small-list {
    font-size: 15px;
}

.fontsize__large body > header .header-title {
    font-size: 16px;
}

.fontsize__large body > footer ul li:first-child {
    font-size: 18px;
}

.fontsize__large body > main .news-block .news-text .news-content {
    font-size: 14px;
    line-height: 18px;
}

.fontsize__large body > nav a {
    font-size: 14px;
    padding: 0 8px;
}

.fontsize__large body > main .pagination {
    font-size: 14px;
}

.fontsize__large body div.dummy_img {
    font-size: 14px;
}

.fontsize__large body button.button.center {
    font-size: 15px;
    text-transform: uppercase;
}

.fontsize__large body .js-menu-open .icon:before {
    top: 3px;
}

.fontsize__large body .blindSelector {
    width: 330px;
}

.fontsize__large body .blindSelector a.site-version {
    font-size: 14px;
}

.fontsize__large.poorVision body .blindSelector {
    width: 290px;
}

.fontsize__large body span.header-title {
    width: 580px;
}

.fontsize__xlarge .hidden-trigger,
.fontsize__xlarge body > main .news-block .news-text .news-date,
.fontsize__xlarge body > main .person .person-title,
.fontsize__xlarge input[type="text"],
.fontsize__xlarge input[type="email"],
.fontsize__xlarge input[type="password"],
.fontsize__xlarge select.value,
.fontsize__xlarge .menu-list a,
.fontsize__xlarge body > main .news-block .news-text .news-content,
.fontsize__xlarge body > footer div.copyright,
.fontsize__xlarge body > main .breadcrumbs a.crumb[href],
.fontsize__xlarge body > main .breadcrumbs a.crumb,
.fontsize__xlarge table td,
.fontsize__xlarge table th,
.fontsize__xlarge ul.small-list li {
    font-size: 17px;
}

.fontsize__xlarge .grid-4 .grid-3 .col-3,
.fontsize__xlarge body > main .person .person-description {
    font-size: 18px;
    height: auto;
    margin: 10px 0;
}

.fontsize__xlarge .menu-list a,
.fontsize__xlarge .news .js-to-bottom,
.fontsize__xlarge .person-data a,
.fontsize__xlarge .type,
.fontsize__xlarge .value,
.fontsize__xlarge body > footer div.poweredby,
.fontsize__xlarge body > footer ul li,
.fontsize__xlarge ul.small-list {
    font-size: 19px;
}

.fontsize__xlarge body > header .header-title {
    font-size: 20px;
}

.fontsize__xlarge body > footer ul li:first-child {
    font-size: 24px;
}

.fontsize__xlarge body > main .news-block .news-text .news-content {
    font-size: 18px;
    line-height: 22px;
}

.fontsize__xlarge body > nav a {
    font-size: 16px;
    padding: 0 8px;
}

.fontsize__xlarge body > main .pagination {
    font-size: 18px;
}

.fontsize__xlarge body > main .col-3 {
    line-height: 1.4;
}

.fontsize__xlarge body > main .small-list {
    overflow-wrap: break-word;
}

.fontsize__xlarge body > main .js-to-bottom {
    width: 216px;
    display: block;
}

.fontsize__xlarge body span.header-title {
    width: 560px;
    line-height: 1.2;
}

.poorVision body > main .person .person-description {
    height: auto;
}

.fontsize__xlarge body a.js-to-bottom {
    width: 170px !important;
}

.poorVision .person-data a {
    margin-top: 10px;
}

.poorVision .person-data span {
    width: 290px;
    float: right;
}

.poorVision .person-data p.person-description {
    display: inline-block;
    margin-top: 10px;
}

.fontsize__xlarge body div.dummy_img {
    font-size: 18px;
}

.fontsize__xlarge body button.button.center {
    font-size: 19px;
    text-transform: uppercase;
}

.fontsize__xlarge body .blindSelector a.site-version {
    font-size: 16px;
}

.fontsize__xlarge body .blindSelector {
    width: 360px;
}

.fontsize__xlarge.poorVision body .blindSelector {
    width: 330px;
}

.fontsize__xlarge body .js-menu-open .icon:before {
    top: 5px;
}

.fontsize__xlarge body .js-menu-open.expand {
    position: static;
    margin-bottom: 10px;
}

.poorVision .button.search:before {
    filter: invert(100%);
}

.g-recaptcha {
    margin-top: 10px;
}

#data[new][fajl]-error {
    position: absolute;
    top: -7px;
    left: 220px;
}

input[type="radio"].opros {
    z-index: 0;
    left: 0;
    position: relative;
    height: 18px;
    width: 18px;
    float: left;
}

#post_vote label {
    margin: 1.5em 0;
}

.nazlabel {
    margin-left: 10px;
    display: block;
    float: left;
}

.radio_form .row {
    margin: 1.5em 0;
}

.error_found {
    margin: 0 0 0 20%;
    font-size: 14px;
    line-height: 20px;

    strong {
        font-weight: normal !important;
    }
}

.new_text {
    color: #000 !important;
    text-shadow: none !important;
}

.header_right_top.white-black {
    top: 15px;
}