.phone_icon,
.point_map,
.vk {
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    background-position: 0 -557px;
    width: 43px;
    height: 43px;
    display: inline-block;
}

.point_map,
.vk {
    background-position: 0 -514px;
}

.vk {
    background-position: 0 0;
    width: 14px;
    height: 8px;
}

.fb,
.fb_big,
.fb_big_tr,
.instagram,
.instagram_big,
.instagram_big_tr,
.vk_big,
.vk_big_tr {
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    background-position: 0 -178px;
    width: 44px;
    height: 42px;
    display: inline-block;
}

.fb,
.fb_big,
.fb_big_tr,
.instagram,
.instagram_big,
.instagram_big_tr,
.vk_big_tr {
    background-position: 0 -346px;
}

.fb,
.fb_big,
.fb_big_tr,
.instagram,
.instagram_big,
.instagram_big_tr {
    background-position: 0 -220px;
    width: 43px;
}

.fb,
.fb_big_tr,
.instagram,
.instagram_big,
.instagram_big_tr {
    background-position: 0 -18px;
    width: 6px;
    height: 13px;
}

.fb_big_tr,
.instagram,
.instagram_big,
.instagram_big_tr {
    background-position: 0 -304px;
    width: 43px;
    height: 42px;
}

.instagram,
.instagram_big,
.instagram_big_tr {
    background-position: 0 -388px;
}

.instagram,
.instagram_big_tr {
    background-position: 0 -31px;
    width: 16px;
    height: 16px;
}

.instagram_big_tr {
    background-position: 0 -472px;
    width: 43px;
    height: 42px;
}

.content_file_img,
.favicon,
.twitter,
.twitter_big,
.twitter_big_tr {
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    background-position: 0 -8px;
    width: 12px;
    height: 10px;
    display: inline-block;
}

.content_file_img,
.favicon,
.twitter_big,
.twitter_big_tr {
    background-position: 0 -430px;
    width: 43px;
    height: 42px;
}

.content_file_img,
.favicon,
.twitter_big_tr {
    background-position: 0 -262px;
}

.youtube {
    background-position: -16px -31px;
    width: 16px;
    height: 11px;
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    display: inline-block;
}

.youtube_big {
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    background-position: 0 -704px;
    width: 43px;
    height: 42px;
}

.youtube_big_tr {
    //background-image: url("../img/sprite.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/sprite.png");
    background-position: 0 -662px;
    width: 43px;
    height: 42px;
}

.content_file_img,
.favicon {
    background-position: 0 -155px;
    width: 23px;
    height: 23px;
}

.content_file_img {
    background-position: 0 -600px;
    width: 51px;
    height: 64px;
}

.content_file_img {
    background-position: 0 -600px;
    width: 51px;
    height: 64px;
}

.pdf_attach {
    background-position: 0 -753px;
}

.xlsx_attach {
    background-position: 0 -823px;
}

.jpg_attach {
    background-position: 0 -882px;
}

.png_attach {
    background-position: 0 -963px;
}

.none_attach {
    background-position: 0 -1032px;
}