.swipe_icon {
    display: none;
}

.img_list {
    display: flex;
    flex-flow: row wrap;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-top: 1em;
}

.img_list_item {
    margin-bottom: 1em;
    overflow: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 14.625em;

    a {
        display: block;
    }

    &:hover {
        a {
            opacity: 0.8;
        }
    }
}

.img_list_item_descr {
    span {
        &:first-child {
            margin: 1em 0 0;
            color: #323232;
            font-size: 0.9em;
            font-weight: 700;
            line-height: 1.4em;
            text-align: left;
            display: block;
        }

        &:last-child {
            display: block;
            color: #323232;
            font-size: 0.8em;
            font-style: italic;
            line-height: 1.4em;
            text-align: left;
        }
    }
}

.r-tabs-panel {
    padding: 0 !important;
}

.image_gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em -0.5em;

    .image_gallery_item {
        margin: 0 0 1.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &:hover {
            opacity: 0.8;
        }
    }
}

.image_gallery_item {
    &::before {
        display: none;
    }
}

.mfp-fade.mfp-bg {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-auto-cursor .mfp-content {
    max-width: 600px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 3px;
}

.mfp-container {
    @media (max-width: 350px) {
        width: 280px;
        height: 0;
    }
}

article ol,
article ul {
    margin: 2em 0;
}

article ol li,
article p,
article ul li {
    color: #323232;
    line-height: 1.5;
    font-size: 0.95em;
    margin: 1.5em 0;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

article p.important_p {
    background-color: #edeff2;
    padding: 2em 3em;
    color: #185394;
}

article p.caption_p {
    background-color: #edeff2;
    padding: 2em 3em;
    color: #185394;
    font-size: 1em;
    width: 100%;
    margin: 0 0 3.5em;
}

article p.caption_p_left {
    float: left;
    width: 15em;
    margin: 0 2em 5em 0;
}

article p.caption_p_right {
    float: right;
    width: 15em;
    margin: 0 0 5em 2em;
}

article p.caption_p span {
    padding: 1em 0;
    font-size: 0.9em;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #edeff2;
    position: absolute;
    bottom: -3.6em;
    left: 0;
    overflow: hidden;
}

article p.spoilerbody {
    border-bottom: 1px solid #cfd5dd;
}

article a.open {
    border-bottom: none;
}

article a.open:before {
    transform: rotate(90deg);
}

article .read_more {
    justify-content: flex-start;
    align-items: center;
    height: 3.542em;
    border-bottom: 1px solid #cfd5dd;
    border-top: 1px solid #cfd5dd;
    display: flex;
    font-size: 0.9em;
    font-weight: 700;
    flex-flow: row wrap;
    padding: 0 0 0 0.5em;
    margin-top: 10px;

    &:before {
        display: inline-block;
        //background-image: url("../img/svg/small_right_arrow.svg");
        background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/svg/small_right_arrow.svg");
        content: '';
        background-repeat: no-repeat;
        width: 7px;
        height: 12px;
        background-size: cover;
        margin: 0 1em 0 0;
    }
}

article .content_file {
    justify-content: flex-start;
    align-items: center;
    padding: 1em 2em;
    border: 1px solid #dee2e7;
    display: inline-flex;
    flex-flow: row nowrap;
}

article .content_file img,
article .content_file_img {
    margin: 0 1em 0 0;
}

article .content_file_descr {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: #323232;
    font-size: 0.9em;
    line-height: 1.5em;
}

article .content_file_descr a {
    text-decoration: underline;
}

article {
    figure {
        margin: 2em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        figcaption {
            color: #627188;
            font-size: 0.9em;
            font-style: italic;
            line-height: 1.2em;
            padding: 42px 0;
            border-bottom: 1px solid #c1c8d2;
        }
    }
}

article ol.compact_list li,
article ul.compact_list li {
    margin: 0;
}

article ol.compact_list li:before,
article ul.compact_list li:before {
    left: 0;
    color: inherit;
    font-weight: 400;
}

article ol li,
article ul li {
    margin: 1em 0;
    padding: 0 0 0 1.5em;
}

article ul li:before {
    content: counter(item) ".";
    color: #185394;
}

article ol {
    counter-reset: item;
}

article ol li:before,
article ul li:before {
    position: absolute;
    counter-increment: item;
    left: 0.1em;
    font-size: 0.9em;
    font-weight: 700;
}

article ol li:before {
    content: counter(item) ". ";
    color: #185394;
}

article ul li:before {
    content: '';
    top: 0.5em;
    background-color: #185394;
    width: 4px;
    height: 4px;
}

table {
    background-color: #edeff2;
    font-size: 0.9em;
    margin: 2em 0;
    width: 100%;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    th {
        height: 50px;
        padding: 1.2em 2em;
        border: 1px solid #cfd5dd;
        text-align: center;
        vertical-align: center;
        text-transform: uppercase;
        font-weight: 700;

        &:first-child {
            text-align: left;
        }
    }

    td {
        border: 1px solid #cfd5dd;
        vertical-align: center;
        text-align: center;
        padding: 1.2em 0.5em;
        background-color: #fff;
        height: 50px;

        &:first-child {
            text-align: left;
        }
    }

    caption {
        caption-side: bottom;
        background-color: #fff;
        color: #627188;
        font-size: 0.9em;
        padding: 2.8em 0;
        font-style: italic;
        line-height: 1.2em;
        text-align: left;
        border-bottom: 1px solid #cfd5dd;
    }

    &.listinfo {
        border-bottom: 1px solid #edeff2;
        border-top: 1px solid #edeff2;
        background-color: #fff;
        margin: 2em 0 2.5em;
        text-align: left;
        word-break: normal;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        td {
            border: none;
            height: auto;
            padding: 0.5em;
            text-align: left;

            &:first-child {
                font-weight: 700;
            }
        }
    }
}

article {
    iframe {
        width: 100%;
    }
}

.search_light {
    color: #fff;
}

.be_pacient_online {
    //background-image: url("../img/bepatientonline.png");
    background-image: url("https://nrcerm.ru/templates/nrcerm/dist/img/bepatientonline.png");
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 14em;
    @media(min-width: 1024px) {
        min-width: 290px;
        width: 290px;
    }

    .be_pacient_online_h {
        font-family: "museo_sans_cyrl500";
        color: #fff;
        font-size: 1.57em;
        text-align: center;
        margin: 0 0 1em;
    }
}

.ui_block {
    margin: 3em;
    padding: 3em;
    height: auto;
    border: 1px solid #ccc;

    .soc_icons {
        background-color: #323232;
        padding: 3em;
    }
}

.certs,
.certs_item,
.certs_item_img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3em 0;
}

.certs_item,
.certs_item_img {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em;
}

.certs_item:hover {
    opacity: 0.8;
}

.certs_item_img {
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    box-sizing: border-box;
    background-color: #fff;
    width: 177px;
    height: 234px;
    margin: 0 0 0.4em;
    padding: 1em;
    display: inline-block;
}

.certs_item span {
    color: #323232;
    font-size: 0.7em;
    font-style: italic;
    line-height: 20px;
}
/***************************/
.feedback_form h3 {
    text-align: left;
    color: rgb(0, 0, 0);
}

.feedback_form textarea {
    display: block;
    width: 100%;
    height: 70px;
    margin: 10px 0 0;
}

.feedback_form input {
    display: block;
    width: 100%;
    margin: 10px 0 0;
}

.feedback_form button {
    display: block;
    width: 100%;
    margin: 10px 0 0;
}

.feedback_form label {
    display: block;
    margin: 20px auto;
}

.white-popup-block {
    padding: 0 20px;
}

.inp_mfp {
    width: 300px;
    margin: 10px 0;
}

.footer_mail {
    position: fixed;
    top: 40%;
    right: -7px;
    z-index: 999999;
}

.footer_mail span {
    background-color: #185394;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    right: 0;
    right: -86px;
    width: 204px;
    cursor: pointer;
}

.footer_mail .forma {
    position: absolute;
    top: -94px;
    right: -282px;
}

.mous {
    right: 282px;
}

.footer_mail .forma .exit {
    position: absolute;
    top: 10px;
    border-radius: 11px;
    background-color: #fff;
    padding: 3px 7px 4px;
    right: 20px;
    cursor: pointer;
}

.footer_mail .forma form {
    width: 90%;
}

.footer_mail .forma form input {
    width: 98%;
    margin-bottom: 10px;
}

.bgimg {
    background-image: url("../img/bepatientonline.png");
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 18.125em;
    height: 14em;
}

#test-form input,
#umi_the_best input {
    width: 100%;
}

#test-form div,
#umi_the_best div {
    margin-bottom: 10px;
}

#test-form textarea,
#umi_the_best textarea {
    width: 100%;
}

#test-form .sub_text,
#umi_the_best .sub_text {
    display: none;
}

#test-form p.important_p {
    background-color: #edeff2;
    padding: 2em 3em;
    color: #185394;
}

#test-form p {
    color: #323232;
    line-height: 1.4em;
    font-size: 0.95em;
    margin: 1.5em 0;
    position: relative;
}

.activSubMenu {
    color: #fd7100 !important;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-menu-item-wrapper {
    font-weight: 100 !important;
    font-size: 16px;
}

#vakansii {
    textarea {
        width: 100%;
        margin: 10px 0 0;
    }

    input {
        width: 100%;
        margin: 10px 0 0;
    }
}

.file {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s linear;

    input[type=file] {
        position: absolute;
        top: 0;
        visibility: hidden;
    }

    &.focus {
        box-shadow: 0 0 5px rgba(0, 30, 255, 0.4);
    }

    & > span {
        background-color: #fd7100;
        border: 1px solid #fd7100;
        box-shadow: 1px 2px 5px 0 rgba(24, 83, 148, .14);
        color: #fff;
    }

    &:hover > span {
        background-color: #f88936;
        border: 1px solid #f88936;
        text-shadow: #fff 0 -1px 0;
    }

    &:active > span {
        background-color: #f88936;
        border: 1px solid #f88936;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    }

    & > mark {
        background: transparent;
        display: block;
        cursor: pointer;
        padding-left: 1em;
        color: #757575;
    }

    .buttonfile {
        display: block;
        cursor: pointer;
        float: right;
        color: #fff;
        width: 8em;
        height: 100%;
        text-align: center;
    }
}

.readmore-message {
    overflow: hidden;
    max-height: 5.1em;
    margin-bottom: 1.5em;

    &::after {
        background-image: linear-gradient(to bottom, transparent, white);
        padding-bottom: 50px;
        display: block;
        font-weight: bold;
        color: black;
    }
}