@media screen and (max-width: 767px) {
    .certs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
        margin: 1em 0;
    }

    .image_gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
    }

    .image_gallery_item {
        margin-left: 20px;
    }

    .img_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
    }

    .img_list_item {
        margin-left: 15px;
    }

    .r-tabs {
        width: 100%;
        overflow: hidden;
    }

    .r-tabs .r-tabs-nav {
        display: block;
        width: 550px;
    }

    .r-tabs .r-tabs-nav li {
        display: inline-block;
        margin-left: 5px;
    }

    .r-tabs-accordion-title a {
        display: none;
    }

    .visit_submit_phones span:first-child {
        margin-top: 10px;
    }

    .visit_submit_phones-elements span {
        color: rgb(51, 51, 51) !important;
        margin: 0 !important;
    }

    table tr th {
        padding: 1em 0.9em;
    }

    table tr td {
        padding: 1em 0.2em;
    }
}