@media screen and (max-width: 767px) {
    .slider_wr {
        height: 25em;
        padding-left: 16px;
    }

    .button.arrowedbutton,
    button.arrowedbutton,
    input[type=button].arrowedbutton,
    input[type=reset].arrowedbutton,
    input[type=submit].arrowedbutton {
        background-image: url("../img/svg/arrowedbutton.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        margin-bottom: 118px;
    }

    .slider_wr_core_item_left {
        justify-content: flex-start;
        margin: 40px 0 0;
        width: 250%;
    }

    .slider_wr_core_item_right img {
        width: 92%;
    }

    .slider_wr_core_item_left_head {
        font-size: 1.7em;
    }

    .slider_wr_core_item_left_slogan {
        font-size: 1.03em;
        padding-bottom: 10px;
    }

    .slider_wr_core_pagination {
        bottom: 0.9em;
    }

    .aside_mainpage {
        display: block;
    }

    .flex_blocks {
        /*display: block;
        width: 100%;*/
    }

    .main_page_wr {
        display: block;
        width: 100%;
    }

    .flex_blocks_item {
        display: block;
        width: 300px;
        height: 530px;
        margin: 0 auto 30px;
        /*margin-left: 30px;*/
    }

    .flex_blocks_item img {
        width: 100%;
    }

    .flex_blocks_item_small {
        height: 224px;
    }

    .flex_blocks_item_long {
        width: 100%;
        /*height: 224px;*/
        height: 300px;
        margin-left: 0;
    }

    .flex_blocks_item_big {
        width: 100%;
        margin-left: 0;
    }

    .main_page_wr {
        display: block;
    }

    aside.aside_mainpage {
        width: 100%;
    }

    .tabz .tabz-header {
        border-right: 0;
        border-left: 0;
        position: relative;
    }

    .tabz .tabz-header ul {
        width: 670px;
    }

    .headered_horizontal {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .headered_horizontal span {
        font-size: 1.1em;
        width: 100%;
        text-align: center;
    }

    .headered_horizontal span span {
        width: 20%;
        text-align: center;
    }

    .headered_horizontal_smallspan {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
    }

    .certs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
        margin: 1em 0;
    }

    .image_gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
    }

    .image_gallery_item {
        margin-left: 20px;
    }

    .img_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
    }

    .img_list_item {
        margin-left: 15px;
    }

    .be_pacient_online {
        width: 100%;
        background-image: url("../img/bepatientonline.png") top center no-repeat;
        background-size: cover;
    }

    .pagination {
        margin-bottom: 45px;
    }

    .copy_content {
        display: block;
        height: auto;
        padding-left: 16px;
    }

    .copy_content span {
        display: block;
        padding: 18px 0;
        width: 70%;
    }

    .copy_content ul {
        display: inline-block;
        width: 70%;
        margin-bottom: 18px;
    }

    .copy_content ul li {
        display: inline-block;
    }
    /*Доктор*/
    header.header_notmain {
        height: auto;
        background-image: none;
    }

    .breadcrumbs {
        margin: 0 -16px;
        padding: 14px 0 14px 16px;
        border-bottom: 1px solid rgb(217, 217, 217);
    }

    .breadcrumbs li:nth-child(3):after {
        background-image: none;
    }

    .breadcrumbs li:nth-child(4),
    .breadcrumbs li:nth-child(5),
    .breadcrumbs li:nth-child(6),
    .breadcrumbs li:nth-child(7) {
        display: none;
    }

    .secondary_content {
        display: block;
        padding: 0 16px;
    }

    .secondary_content .aside_secondary {
        margin: 0;
        width: 100%;
    }

    .secondary_content .aside_secondary_h {
        display: none;
    }

    hr {
        display: none;
    }

    .be_pacient_online {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .aside_secondary_menu {
        display: none;
    }

    .secondary_content section {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .content_phoblock {
        margin: 0;
    }

    .content_phoblock_content {
        width: 75%;
    }

    .headered_horizontal article {
        width: 100%;
    }

    .content_phoblock {
        display: block;
    }

    .content_phoblock_photo {
        padding: 0;
        width: 100%;
    }

    .content_phoblock_photo img {
        display: block;
        height: auto;
        width: 100%;
        /*max-width: 600px;*/
        margin: 0 auto;
    }

    .content_phoblock_content.custom {
        width: 100%;
        margin: -29px auto 0;
    }

    .content_phoblock_content .button {
        width: 100%;
    }

    .listinfo td {
        line-height: 1.714;
    }

    .listinfo td:nth-child(2) {
        display: block;
        margin-left: 20px;
    }

    .tabz {
        margin-bottom: 20px;
    }

    .r-tabs {
        width: 100%;
        overflow: hidden;
    }

    .r-tabs .r-tabs-nav {
        display: block;
        width: 550px;
    }

    .r-tabs .r-tabs-nav li {
        display: inline-block;
        margin-left: 5px;
    }

    .r-tabs-accordion-title a {
        display: none;
    }
    /*Отделение*/
    .visit_submit {
        display: block;
        height: auto;
        width: 100%;
        padding: 28px 0 15px;
        margin: 0 auto 28px;
    }

    .visit_submit_phones-elements {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: space-around;
        align-content: space-around;
    }

    .visit_submit_phones span:first-child {
        margin-top: 10px;
    }

    .visit_submit_phones-elements span {
        color: rgb(51, 51, 51) !important;
        margin: 0 !important;
    }

    .visit_submit_button {
        margin-top: 10px;
    }
    /*услуги*/
    .abc_block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: space-around;
        align-content: space-around;
        height: auto;
    }

    .abc_block_item {
        display: inline-flex;
        padding: 0 5px;
        margin-left: 8px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font-family: "helveticaneuecyrroman";
        font-weight: 600;
        color: #185394;
        font-size: 0.9em;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
    }

    .abc_block_item:first-child {
        margin-left: 0;
    }

    .secondary_content figure img {
        width: 100%;
        height: auto;
    }

    table tr th {
        height: auto;
        width: auto;
        padding: 1em 0.9em;
        border: 1px solid #cfd5dd;
        text-align: center;
        vertical-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    table tr td {
        border: 1px solid #cfd5dd;
        vertical-align: center;
        text-align: center;
        padding: 1em 0.2em;
        background-color: #fff;
        height: 50px;
    }

    .content_file {
        display: block;
        margin-bottom: 30px;
    }

    .secondary_content article h1 {
        display: block;
        padding-bottom: 17px;
        border-bottom: 1px solid rgb(217, 217, 217);
        margin: 1em 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    section h3 {
        padding-left: 35px;
    }

    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

    .slider_wr {
        height: 20em;
        padding-left: 16px;
    }

    .slider_wr_core_item_right img {
        width: 66%;
    }

    .slider_wr_core_item_left_head {
        font-size: 1.9em;
    }

    .slider_wr_core_item_left_slogan {
        font-size: 1.03em;
        padding-bottom: 10px;
    }

    .aside_mainpage {
        display: block;
    }

    .flex_blocks {
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: space-around;
        align-content: space-around;
        margin: 0 16px;
    }

    .flex_blocks_item {
        width: 45%;
        height: 530px;
        display: block;
        margin: 0 auto 30px;
    }

    .flex_blocks_item img {
        width: 100%;
    }

    .flex_blocks_item_small {
        height: 224px;
    }

    .flex_blocks_item_long {
        width: 100%;
        height: 224px;
    }

    .flex_blocks_item_big {
        width: 100%;
        height: 550px;
    }

    .main_page_wr {
        display: block;
    }

    aside.aside_mainpage {
        width: 100%;
    }

    .be_pacient_online {
        width: 100%;
        background-image: url("../img/bepatientonline.png") top center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .copy_content {
        display: block;
        height: auto;
        padding: 0 16px;
    }

    .copy_content span {
        display: block;
        padding: 18px 0;
    }

    .copy_content ul {
        display: inline-block;
        width: 70%;
        margin-bottom: 30px;
    }

    .copy_content ul li {
        display: inline-block;
    }
    /*Доктор*/
    header.header_notmain {
        height: auto;
        background-image: none;
    }

    .breadcrumbs {
        font-size: 12px;
        margin: 0 -16px;
        padding: 11px 0 11px 16px;
        border-bottom: 1px solid rgb(217, 217, 217);
    }

    .breadcrumbs li:nth-child(2),
    .breadcrumbs li:nth-child(3) {
        font-weight: bold;
    }

    .breadcrumbs li:nth-child(3):after {
        background-image: none;
    }

    .breadcrumbs li:nth-child(4),
    .breadcrumbs li:nth-child(5),
    .breadcrumbs li:nth-child(6),
    .breadcrumbs li:nth-child(7) {
        display: none;
    }

    .secondary_content {
        display: block;
        padding: 0 16px;
    }

    .secondary_content .aside_secondary {
        margin: 0;
    }

    .secondary_content .aside_secondary_h {
        display: none;
    }

    hr {
        display: none;
    }

    .be_pacient_online {
        display: flex;
        width: 100%;
        margin-top: 0;
    }

    .aside_secondary_menu {
        display: none;
    }

    .secondary_content section {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .content_phoblock {
        margin: 0 0 4em;
    }

    .content_phoblock_content {
        width: 75%;
    }

    .headered_horizontal article {
        width: 34em;
    }

    .tabz {
        margin-bottom: 10px;
    }

    .pagination {
        margin-bottom: 45px;
    }

    .secondary_content figure img {
        width: 100%;
        height: auto;
    }

    .content_file {
        display: block;
        margin-bottom: 30px;
    }

    h1 {
        margin: 0.35em 0 0;
        line-height: 1.182;
    }

    .swipe_icon {
        display: none;
    }
}
@media screen and (min-width: 992px) and (max-width: 1240px) {
    .slider_wr {
        padding-left: 16px;
    }

    .main_page_wr {
        padding-left: 16px;
    }

    .flex_blocks_item {
        width: 45%;
        height: 530px;
    }

    section {
        width: 100%;
        padding-left: 16px;
    }

    .content_phoblock_photo {
        padding: 2em 2.57em 0 0;
        width: 25%;
        height: auto;
    }

    .content_phoblock_photo img {
        width: 100%;
    }

    .content_phoblock_content {
        width: 75%;
    }

    .headered_horizontal span {
        font-size: 1.2em;
        line-height: 1.3em;
        padding: 2em 0 0;
        width: 7em;
    }

    .headered_horizontal article {
        width: 30em;
    }

    .flex_blocks_item img {
        width: 100%;
    }

    .flex_blocks_item_small {
        height: 224px;
    }

    .flex_blocks_item_big {
        width: 100%;
    }

    .flex_blocks_item_long {
        width: 100%;
        height: 224px;
    }

    .secondary_content section {
        padding: 0 0 0 5em;
    }

    .secondary_content figure img {
        width: 100%;
        height: auto;
    }

    .swipe_icon {
        display: none;
    }
}
@media screen and (min-width: 1241px) {
    .swipe_icon {
        display: none;
    }
}
@media screen and (max-width: 410px) {
    .secondary_content article h1 {
        border-bottom: none;
        padding: 0;
    }

    .content_phoblock_content {
        width: 100%;
    }
}

.ekran-small {
    display: none;
}
@media screen and (max-width: 991px) {
    .ekran-big {
        display: none;
    }

    .ekran-small {
        display: block;
    }
}

.vnikuda {
    position: relative;
    width: 100%;
    display: block;
}

.vnikuda span {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
}

.vnikuda:hover span {
    display: inline-flex;
    transition: 0.3s;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}