<footer class="full_width">
    <div class="content_width">
        <div class="footer_content">
            <div class="footer_content_main">
                <a href="https://nrcerm.ru/" title="ФГБУ «Всероссийский центр экстренной&lt;br/&gt;и радиационной медицины&lt;br/&gt;имени А.М. Никифорова» МЧС России">
                    <img src="images/logo.png" alt="ФГБУ «Всероссийский центр экстренной&lt;br/&gt;и радиационной медицины&lt;br/&gt;имени А.М. Никифорова» МЧС России">
                </a>
                <div class="footer_content_cont">
                    <div class="iconed_text">
                        <div class="phone_icon"></div>
                        <div class="iconed_text_info">
                            <span>Телефон для записи</span>
                            <a class="big_font" href="tel:+7 (812) 339-39-39" umi:object-id="344" umi:field-name="phone">+7 (812) 339-39-39</a>
                        </div>
                    </div>
                    <div class="iconed_text">
                        <div class="point_map"></div>
                        <div class="iconed_text_info">
                            <span>
                                194044, Санкт-Петербург,<br>ул. Академика Лебедева, 4/2<br>
                                E-mail: <a href="mailto:medicine@nrcerm.ru" umi:object-id="344" umi:field-name="email">medicine@nrcerm.ru</a>
                            </span>
                        </div>
                    </div>
                    <div class="iconed_text">
                        <div class="point_map"></div>
                        <div class="iconed_text_info">
                            <span>
                                197082, Санкт-Петербург,<br>ул. Оптиков, д.54<br>
                                E-mail: <a href="mailto:medicine@nrcerm.ru" umi:object-id="344" umi:field-name="email">medicine@nrcerm.ru</a>
                            </span>
                        </div>
                    </div>
                    <div class="error_found">Маркетинговая поддержка <a href="https://vsignal.ru/" title="Маркетинговое агенство «VSignal»" target="_blank">VSignal</a></div>
                </div>
                <ul class="footer_menu">
                    <li><a href="https://nrcerm.ru/patient-guide/">Информация для пациентов</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/">Отделения и центры</a></li>
                    <li><a href="https://nrcerm.ru/science/">Научная деятельность</a></li>
                    <li><a href="https://nrcerm.ru/education/">Образовательная деятельность</a></li>
                    <li><a href="https://nrcerm.ru/information-for-professionals/">Информация для профессионалов</a></li>
                    <li><a href="https://nrcerm.ru/products-services/">Продукты и услуги</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/contacts/">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_content_dop">
                <form action="/search/search_do/" method="get" id="searchbottom">
                    <input class="search search_light ui-autocomplete-input" type="text" placeholder="Поиск по сайту" name="search_string" autocomplete="off">
                    <a href="javascript:;" onclick="document.getElementById('searchbottom').submit();" class="searchclick"></a>
                </form>
                <ul style="margin: -30px 0px 15px 0px;">
                    <li>
                        <a href="https://vk.com/nrcerm" tatget="_blank">
                            <div class="vk_big_tr"></div>
                            <div class="vk_big"></div>
                        </a>
                    </li>
                </ul>
                <iframe src="https://nok.rosminzdrav.ru/MO/GetBanner/10650/1" border="0" scrolling="no" allowtransparency="true" style="border: 0;margin: 0 auto;display: block;" width="300" height="110"></iframe>
            </div>
        </div>
    </div>
    <div class="full_width black_back">
        <div class="copy_content content_width"><span>© 2006 - 2022 ФГБУ ВЦЭРМ им. А.М.Никифорова МЧС России. Все права защищены.</span>
            <ul>
                <li>
                    <a href="https://nrcerm.ru/privacy/">Положение о конфиденциальности</a>
                </li>
                <li>
                    <a href="https://nrcerm.ru/usloviya-ispolzovaniya/">Условия использования</a>
                </li>
                <li>
                    <a href="https://nrcerm.ru/protivodejstvie-korrupcii/">Противодействие коррупции</a>
                </li>
                <li>
                    <a href="https://nrcerm.ru/protivodejstvie-terrorizmu/">Противодействие терроризму</a>
                </li>
            </ul>
        </div>
    </div>
</footer>