<header class="header_slider"
  data-slides='["https://nrcerm.ru/images/slider/banner.jpg", "https://nrcerm.ru/images/slider/blefaroplastika.jpg", "https://nrcerm.ru/files/lasic.jpeg", "https://nrcerm.ru/images/slider/nederzhanie_obrabotano.jpg", "https://nrcerm.ru/files/ynews-250396410.jpeg"]'>

    <div id="dk-slide--up" class="dk-slide dk-slide--up"></div>
    <div id="dk-slide--down" class="dk-slide dk-slide--down"></div>

    <div class="header content_width" style="position: relative; z-index: 2">
        <div class="header_left ignore-all">
            <a class="ignore-all" href="#" title="На главную">
                <img class="logo" src="images/logo.png" alt="На главную">
                <span umi:object-id="344" class="logo_text" umi:field-name="site_name">ФГБУ «Всероссийский центр экстренной<br>и радиационной медицины<br>имени А.М. Никифорова» МЧС России</span>
                <span umi:object-id="344" class="logo_text_mobile" umi:field-name="site_name">ФГБУ ВЦЭРМ</span>
            </a>
        </div>
        <div class="header_right">
            <div class="blindSelector-wrapper content_width ignore-all">
                <div class="blindSelector ignore-all">
                    <div class="poorVision-controls ignore-all hidden">
                        <a class="limited_capabilities" href="#">Версия для слабовидящих</a>
                        Размер шрифта
                        <div class="poorVision-control ignore-all" onclick="fontRescale(-1)"><span>A-</span></div>
                        <div class="poorVision-control ignore-all" onclick="fontRescale(1)"><span>A+</span></div>
                        Интервал
                        <div class="poorVision-control ignore-all" onclick="setLineHeight(-1)"><span>-</span></div>
                        <div class="poorVision-control ignore-all" onclick="setLineHeight(1)"><span>+</span></div>
                        Цвет сайта
                        <div class="poorVision-control ignore-all" onclick="setColors('white-black')"><span>Ц</span></div>
                        <div class="poorVision-control ignore-all black-white" onclick="setColors('black-white')"><span>Ц</span></div>
                        <div class="poorVision-control ignore-all blue-yellow" onclick="setColors('blue-yellow')"><span>Ц</span></div>
                    </div>
                </div>
            </div>

            <div class="header_right_top">
                <ul>
                    <li><a href="https://lk.nrcerm.ru/" target="_blank">Личный кабинет</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/department/transfusiology/">Донору</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/contacts/">Контакты</a></li>
                </ul>
                <a class="button orangebutton" href="https://nrcerm.ru/patient-guide/appointment/">Записаться</a>
            </div>

            <a class="limited_capabilities" href="#">Версия для слабовидящих</a>

            <div class="header_right_bottom">
                <div class="iconed_text">
                    <a href="tel:+7 (812) 339-39-39" class="phone_icon"></a>
                    <div class="iconed_text_info">
                        <span>Телефон для записи</span>
                        <a href="tel:+7 (812) 339-39-39">+7 (812) 339-39-39</a>
                    </div>
                </div>
                <div class="toggle_menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <form id="searchtop" class="search_block" action="/search/search_do/" method="get">
                    <input class="search ui-autocomplete-input" type="text" placeholder="Поиск по сайту" name="search_string" autocomplete="off">
                    <a class="searchclick" href="javascript:;" onclick="document.getElementById('searchtop').submit();"></a>
                </form>
            </div>
        </div>
    </div>

    <nav class="content_width">
        <ul>
            <li class="childrened"><a href="https://nrcerm.ru/departments-centers/about-us/">О Центре</a>
                <div class="nav_secondary">
                    <ul>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/history/">История Центра</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/administration/">Администрация Центра</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/licenziya/">Лицензия</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/vacancies/">Вакансии</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/oms/">Работа в системе ОМС</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/vmp/">Высокотехнологичная медицинская помощь</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/pmu/">Оказание платных медицинских услуг</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/meropriyatiya-soyuznogo-gosudarstva/">Мероприятия Союзного государства</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/medicinskaya-pomow-inostrannym-grazhdanam/">Медицинская помощь иностранным гражданам</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/finansovo-hozyajstvennaya-deyatelnost/">Финансово-хозяйственная деятельность</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/about-us/specialnaya-ocenka-uslovij-truda/">Специальная оценка условий труда</a>
                        </li>
                    </ul>
                    <figure class="nav_secondary_right">
                        <img class="img-responsive" src="images/img_7572_306_156_jpg_5_80.jpg" alt="" umi:element-id="4" umi:field-name="header_pic" width="306" height="156">
                        <figcaption><a href="https://nrcerm.ru/departments-centers/novosti/">Новости</a></figcaption>
                    </figure>
                </div>
            </li>
            <li class="childrened"><a href="https://nrcerm.ru/patient-guide/">Пациентам</a>
                <div class="nav_secondary">
                    <ul>
                        <li>
                            <a href="http://nrcerm.ru/patient-guide/services-and-procedures1/">Услуги и процедуры</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/patient-guide/diseases/">Болезни и состояния</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/patient-guide/vopros-otvet/">Вопрос-ответ</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/patient-guide/reviews/">Истории/отзывы пациентов</a>
                        </li>
                        <li>
                            <a href="http://nrcerm.ru/patient-guide/pravila-povedeniya-pacientov/">Правила поведения пациентов</a>
                        </li>
                        <li>
                            <a href="http://nrcerm.ru/patient-guide/spravka-v-nalogovye-organy-rf/">Справка в налоговые органы РФ</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/patient-guide/first-aid/">Первая помощь</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/patient-guide/live-healthy/">Здоровый образ жизни</a>
                        </li>
                    </ul>
                    <figure class="nav_secondary_right">
                        <img class="img-responsive" src="images/whatsapp_image_2021-03-10_at_12_42_25_306_156_jpeg_5_80.jpeg" alt="" umi:element-id="21" umi:field-name="header_pic" width="306" height="156">
                        <figcaption><a href="https://nrcerm.ru/patient-guide/appointment/">Записаться на прием</a></figcaption>
                    </figure>
                </div>
            </li>
            <li class="childrened"><a href="https://nrcerm.ru/departments-centers/department/">Отделения и центры</a>
                <div class="nav_secondary">
                    <ul>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/polyclinic/">Амбулаторная помощь/поликлиника</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/surgical-emergency-care/">Отделение экстренной хирургической помощи</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/neurosurgery/">Отделение нейрохирургии</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/plastic-surgery/">Ожоговое отделение с пластической хирургией</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/department-of-medical-rehabilitation/">Отделение реабилитации</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/dialysis/">Отделение диализа и методов гравитационной хирургии крови</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/traumatology/">Отделение травматологии и ортопедии</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/department-of-nuclear-medicine/">Отдел ядерной медицины</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/psychology/">Отдел клинической психологии </a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/departments-centers/department/">Все отделения</a>
                        </li>
                    </ul>
                    <figure class="nav_secondary_right">
                        <img class="img-responsive" src="images/zvezda_306_156_jpg_5_80.jpg" alt="" umi:element-id="9" umi:field-name="header_pic" width="306" height="156">
                        <figcaption><a href="https://nrcerm.ru/departments-centers/specialists/">Специалисты</a></figcaption>
                    </figure>
                </div>
            </li>
            <li class="childrened"><a href="https://nrcerm.ru/science/">Научная деятельность</a>
                <div class="nav_secondary nav_secondary_right">
                    <ul>
                        <li>
                            <a href="https://nrcerm.ru/science/academic-council/">Ученый совет</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/science/research/">Научно-исследовательская работа</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/science/editorial-and-publishing/">Редакционно-издательская деятельность</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/science/conferences/">Научные конференции</a>
                        </li>
                        <li>
                            <a href="http://nrcerm.ru/science/elektronnye-resursy/">Ресурсы издательства Springer</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/information-for-professionals/publications/">Публикации</a>
                        </li>
                    </ul>
                    <figure class="nav_secondary_right">
                        <img class="img-responsive" src="images/dscn6395-min_306_156_jpg_5_80.jpg" alt="" umi:element-id="27" umi:field-name="header_pic" width="306" height="156">
                        <figcaption><a href="https://nrcerm.ru/science/dissertation-councils/">Диссертационные советы</a></figcaption>
                    </figure>
                </div>
            </li>
            <li class="childrened"><a href="https://nrcerm.ru/education/">Образовательная деятельность</a>
                <div class="nav_secondary nav_secondary_right">
                    <ul>
                        <li>
                            <a href="https://nrcerm.ru/education/postgraduate-studies/">Аспирантура</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/ordinatura/">Ординатура</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/kafedry/">Кафедры</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/continuing-medical-education/">Непрерывное медицинское образование</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/attaching-dissertation/">Прикрепление лиц для подготовки диссертации</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/replacement-of-educational-positions/">Конкурс на замещение должностей педагогических работников</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/informational-educational-environment/">Информационно-образовательная среда</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/distance-learning/">Система дистанционного обучения</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/prajs-na-obrazovatelnye-uslugi/">Прайс на образовательные услуги</a>
                        </li>
                        <li>
                            <a href="https://nrcerm.ru/education/svedeniya-ob-obrazovatelnoj-organizacii-2/">Сведения об образовательной организации</a>
                        </li>
                    </ul>
                    <figure class="nav_secondary_right">
                        <img class="img-responsive" src="images/1_306_156_jpg_5_80.jpg" alt="" umi:element-id="36" umi:field-name="header_pic" width="306" height="156">
                        <figcaption><a href="https://nrcerm.ru/education/additional-professional-education/">Дополнительное профессиональное образование</a></figcaption>
                    </figure>
                </div>
            </li>
            <li><a href="https://nrcerm.ru/medical-tourism/">Medical tourism</a></li>
        </ul>
    </nav>

    <div class="slider_wr_new content_width">
        <div class="slider_wr_core_new swiper-container swiper-container-fade swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider_wr_core_item">
                    <div class="slider_wr_core_item_left_new">
                        <div class="slider_wr_core_item_left_head_new">Высокоточный метод онкодиагностики</div>
                        <div class="slider_wr_core_item_left_slogan_new">
                            <p><span style="color: #003366;"><strong><span>Позитронно-эмиссионная томография (ПЭТ КТ)&nbsp;</span></strong></span></p>
                        </div>
                        <a class="bluebutton button arrowedbutton slider_wr_core_item_left_button" href="https://nrcerm.ru/patient-guide/services-and-procedures1/pozitronno-emissionnaya-tomografiya-pet/">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide slider_wr_core_item">
                    <div class="slider_wr_core_item_left_new">
                        <div class="slider_wr_core_item_left_head_new">Блефаропластика</div>
                        <div class="slider_wr_core_item_left_slogan_new">
                            <p>
                                <a href="https://nrcerm.ru/patient-guide/services-and-procedures1/blepharoplasty/">
                                    <span style="color: rgb(51, 51, 153);">
                                        <strong>Эстетическая операция по коррекции век&nbsp;</strong>
                                    </span>
                                </a>
                            </p>
                        </div>
                        <a class="bluebutton button arrowedbutton slider_wr_core_item_left_button" href="https://nrcerm.ru/patient-guide/services-and-procedures1/blepharoplasty/">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide slider_wr_core_item">
                    <div class="slider_wr_core_item_left_new">
                        <div class="slider_wr_core_item_left_head_new">Новейшая методика лазерной коррекции зрения ФЕМТОЛАСИК на высокоточной немецкой лазерной системе WAVELIGHT</div>
                        <div class="slider_wr_core_item_left_slogan_new"></div>
                        <a class="bluebutton button arrowedbutton slider_wr_core_item_left_button" href="https://nrcerm.ru/patient-guide/services-and-procedures1/lazernaya-korrekciya-zreniya/">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide slider_wr_core_item swiper-slide-prev">
                    <div class="slider_wr_core_item_left_new">
                        <div class="slider_wr_core_item_left_head_new">Решение деликатной проблемы недержания мочи</div>
                        <div class="slider_wr_core_item_left_slogan_new">
                            <h3><span style="color: #003366;"><span><span style="color: #00ccff;">Быстро. Эффективно</span></span></span></h3>
                        </div>
                        <a class="bluebutton button arrowedbutton slider_wr_core_item_left_button" href="https://nrcerm.ru/patient-guide/services-and-procedures1/ustanovka-suburetralnogo-slinga-pri-nederzhanii-mochi/">Подробнее</a>
                    </div>
                </div>
                <div class="swiper-slide slider_wr_core_item swiper-slide-active">
                    <div class="slider_wr_core_item_left_new">
                        <div class="slider_wr_core_item_left_head_new">Диагностика и лечение злокачественных новообразований в области головы и шеи</div>
                        <div class="slider_wr_core_item_left_slogan_new">
                            <p>Специалисты высшей квалификационной категории, новейшее оборудование</p>
                        </div>
                        <a class="bluebutton button arrowedbutton slider_wr_core_item_left_button" href="https://nrcerm.ru/departments-centers/department/radiation-medicine-hematology-toxicology/">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="slider_wr_core_pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 5"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</header>