<div class="navigation_popup">
    <div class="navigation_popup-container">
        <div class="navigation_header">
            <div class="search_block">
                <form action="/search/search_do/" method="get" class="search_block">
                    <input class="search ui-autocomplete-input" type="text" placeholder="Поиск по сайту" name="search_string" autocomplete="off">
                    <button><i class="fa fa-search fa-rotate-90" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="close"><img src="images/close.png" alt=""></div>
        </div>
        <select>
            <option value="0">Пациентам</option>
            <option value="1">Врачам</option>
        </select>
        <ul class="navigation_popup_menu">
            <li>
                <a href="https://nrcerm.ru/departments-centers/about-us/">О Центре</a>
                <ul>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/history/">История Центра</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/administration/">Администрация Центра</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/licenziya/">Лицензия</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/novosti/">Новости</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/vacancies/">Вакансии</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/oms/">Работа в системе ОМС</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/vmp/">Высокотехнологичная медицинская помощь</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/pmu/">Оказание платных медицинских услуг</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/meropriyatiya-soyuznogo-gosudarstva/">Мероприятия Союзного государства</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/medicinskaya-pomow-inostrannym-grazhdanam/">Медицинская помощь иностранным гражданам</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/finansovo-hozyajstvennaya-deyatelnost/">Финансово-хозяйственная деятельность</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/about-us/specialnaya-ocenka-uslovij-truda/">Специальная оценка условий труда</a>
                    </li>
                </ul>
                <div></div>
            </li>
            <li>
                <a href="https://nrcerm.ru/patient-guide/">Пациентам</a>
                <ul>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/appointment/">Записаться на прием</a>
                    </li>
                    <li>
                        <a href="http://nrcerm.ru/patient-guide/services-and-procedures1/">Услуги и процедуры</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/diseases/">Болезни и состояния</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/vopros-otvet/">Вопрос-ответ</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/reviews/">Истории/отзывы пациентов</a>
                    </li>
                    <li>
                        <a href="http://nrcerm.ru/patient-guide/pravila-povedeniya-pacientov/">Правила поведения пациентов</a>
                    </li>
                    <li>
                        <a href="http://nrcerm.ru/patient-guide/spravka-v-nalogovye-organy-rf/">Справка в налоговые органы РФ</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/first-aid/">Первая помощь</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/patient-guide/live-healthy/">Здоровый образ жизни</a>
                    </li>
                </ul>
                <div></div>
            </li>
            <li>
                <a href="https://nrcerm.ru/departments-centers/department/">Отделения и центры</a>
                <ul>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/specialists/">Специалисты</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/polyclinic/">Амбулаторная помощь/поликлиника</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/surgical-emergency-care/">Отделение экстренной хирургической помощи</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/neurosurgery/">Отделение нейрохирургии</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/plastic-surgery/">Ожоговое отделение с пластической хирургией</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/department-of-medical-rehabilitation/">Отделение реабилитации</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/dialysis/">Отделение диализа и методов гравитационной хирургии крови</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/traumatology/">Отделение травматологии и ортопедии</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/department-of-nuclear-medicine/">Отдел ядерной медицины</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/psychology/">Отдел клинической психологии </a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/departments-centers/department/">Все отделения</a>
                    </li>
                </ul>
                <div></div>
            </li>
            <li>
                <a href="https://nrcerm.ru/science/">Научная деятельность</a>
                <ul>
                    <li>
                        <a href="https://nrcerm.ru/science/academic-council/">Ученый совет</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/science/dissertation-councils/">Диссертационные советы</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/science/research/">Научно-исследовательская работа</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/science/editorial-and-publishing/">Редакционно-издательская деятельность</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/science/conferences/">Научные конференции</a>
                    </li>
                    <li>
                        <a href="http://nrcerm.ru/science/elektronnye-resursy/">Ресурсы издательства Springer</a>
                    </li>
                    <li>
                        <a href="https://nrcerm.ru/information-for-professionals/publications/">Публикации</a>
                    </li>
                </ul>
                <div></div>
            </li>
            <li>
                <a href="https://nrcerm.ru/education/">Образовательная деятельность</a>
                <ul>
                    <li>
                        <a href="https://nrcerm.ru/education/postgraduate-studies/">Аспирантура</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/ordinatura/">Ординатура</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/kafedry/">Кафедры</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/additional-professional-education/">Дополнительное профессиональное образование</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/continuing-medical-education/">Непрерывное медицинское образование</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/attaching-dissertation/">Прикрепление лиц для подготовки диссертации</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/replacement-of-educational-positions/">Конкурс на замещение должностей педагогических работников</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/informational-educational-environment/">Информационно-образовательная среда</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/distance-learning/">Система дистанционного обучения</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/prajs-na-obrazovatelnye-uslugi/">Прайс на образовательные услуги</a>

                    </li>
                    <li>
                        <a href="https://nrcerm.ru/education/svedeniya-ob-obrazovatelnoj-organizacii-2/">Сведения об образовательной организации</a>

                    </li>
                </ul>
                <div></div>
            </li>
            <li>
                <a href="https://nrcerm.ru/medical-tourism/">Medical tourism</a>
                <div></div>
            </li>
        </ul>
        <div class="navigation_footer">
            <div class="addit_info">
                <ul>
                    <li><a href="#">Врачам</a></li>
                    <li><a href="https://lk.nrcerm.ru/" target="_blank">Личный кабинет</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/department/transfusiology/">Донору</a></li>
                    <li><a href="https://nrcerm.ru/departments-centers/contacts/">Контакты</a></li>
                </ul>
            </div>
            <div class="contact_block">
                <div class="contact_block-phone">
                    <div class="iconed_text_info">
                        <span>Телефон для записи</span>
                        <a href="tel:+7 (812) 339-39-39">+7 (812) 339-39-39</a>
                    </div>
                </div>
                <div class="contact_block-web">
                    <ul style="margin: -30px 0px 15px 0px;">
                        <li>
                            <a href="https://www.facebook.com/nrcerm" tatget="_blank">
                                <div class="fb"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/nrcerm" tatget="_blank">
                                <div class="vk"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UClnnWA4LrBnukWdgYHrx0pg" tatget="_blank">
                                <div class="youtube"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/nrcerm/" tatget="_blank">
                                <div class="instagram"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/nrcerm" tatget="_blank">
                                <div class="twitter"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <iframe src="https://nok.rosminzdrav.ru/MO/GetBanner/10650/1" border="0" scrolling="no" allowtransparency="true" style="border: 0;margin: 0 auto;display: block;" width="300" height="110"></iframe>
            </div>
        </div>
    </div>
</div>