.tabs__tab {
  display: none;
  opacity: 0
}

.tabs__tab.is-active {
  display: block
}

.tabs__tab.is-visible {
  opacity: 1
}

.tabs-nav {
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center
}

.tabs-nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow-x: auto;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 60px;
  background-color: #0c1117;
  -webkit-box-shadow: 0 0 24px 0 rgba(212, 60, 56, .5);
  box-shadow: 0 0 24px 0 rgba(212, 60, 56, .5);
  scrollbar-width: thin;
  scrollbar-color: #5793ea rgba(#5793ea, 0.2);
}

.tabs-nav__list.gold {
  -webkit-box-shadow: 0 0 24px 0 rgba(234, 172, 82, .5);
  box-shadow: 0 0 24px 0 rgba(234, 172, 82, .5)
}

.tabs-nav__list.gold .tabs-nav__button.is-active {
  background-color: #eaac52
}

.tabs-nav__list.blue {
  -webkit-box-shadow: 0 0 24px 0 rgba(68, 96, 147, .5);
  box-shadow: 0 0 24px 0 rgba(68, 96, 147, .5)
}

.tabs-nav__list.blue .tabs-nav__button.is-active {
  background-color: #5474b4
}

.tabs-nav__list-item:not(:last-child) {
  margin-right: 1rem
}

.tabs-nav__button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  white-space: nowrap;
  color: #fff;
  border: none;
  border-radius: 6rem;
  background-color: rgba(255, 255, 255, .1)
}

.tabs-nav__button.is-active {
  background-color: rgba(212, 60, 56, .5)
}

@media (min-width:1200px) {
  .tabs-nav__button {
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 2rem 4.5rem
  }
}

@media (min-width:1900px) {
  .tabs-nav {
    margin-bottom: 6rem
  }

  .tabs-nav__list-item:not(:last-child) {
    margin-right: 2rem
  }

  .tabs-nav__button {
    font-size: 3rem;
    line-height: 1.33333;
    padding: 2.5rem 6rem
  }
}

.faq-block {
  padding-top: 3rem;
  padding-bottom: 4rem
}

.faq-block.blue .faq-item.is-active {
  background-color: rgba(84, 116, 180, .5)
}

.faq-item {
  max-width: 536px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .1)
}

.faq-item:not(:last-child) {
  margin-bottom: 1.5rem
}

.faq-item.is-active {
  background-color: rgba(212, 60, 56, .5)
}

.faq-item.is-active .faq-item__toggler::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.faq-item__toggler {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  text-align: left;
  letter-spacing: .5px;
  color: #fff;
  border: none;
  background-color: transparent
}

.faq-item__toggler::after {
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  right: 1.5rem;
  left: auto;
  width: 18px;
  height: 11px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999999L9 9L17 1' stroke='white' stroke-width='1.83481'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0
}

.faq-item__body {
  font-size: 1rem;
  line-height: 1.5;
  display: none;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  letter-spacing: 1px;
  color: #fff
}

.faq-item__body p {
  margin-bottom: 0
}

@media (min-width:768px) {
  .faq-block {
    padding-top: 4rem;
    padding-bottom: 11rem
  }

  .faq-item:not(:last-child) {
    margin-bottom: 2rem
  }

  .faq-item__body {
    font-size: 1.5rem;
    line-height: 1.33333;
    padding-right: 4rem;
    letter-spacing: 0
  }
}

@media (min-width:1200px) {
  .faq-block {
    padding-top: 6rem;
    padding-bottom: 6rem
  }

  .faq-item {
    max-width: 664px;
    border-radius: 1rem
  }

  .faq-item__toggler {
    font-size: 2.5rem;
    line-height: 1.4;
    padding: 2.75rem 2rem
  }

  .faq-item__toggler::after {
    top: 22px;
    right: 22px;
    width: 24px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='14' viewBox='0 0 26 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999743L13 12.3682L25 0.999745' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: 24px 12px
  }

  .faq-item__body {
    padding-right: 6rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    letter-spacing: 1px
  }

  .faq-item__body p:not(:last-child) {
    margin-bottom: 1.5rem
  }
}

@media (min-width:1900px) {
  .faq-block {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: linear-gradient(165.1deg, rgba(0, 0, 0, 0) -46.92%, rgba(87, 147, 234, .35) 119.41%), #020405
  }

  .faq-block.no_bg {
    background: 0 0
  }

  .faq-item {
    max-width: 866px
  }

  .faq-item__toggler {
    font-size: 3rem;
    line-height: 1.33333;
    padding: 3rem
  }

  .faq-item__body {
    font-size: 2rem;
    line-height: 1.375;
    padding-right: 17rem;
    padding-bottom: 8rem;
    padding-left: 3rem
  }
}