html {
  scroll-behavior: smooth;
}

@media(min-width: 1024px) {
  .service-detail {
    display: flex;
  }
}

.service-detail__menu li::before {
  display: none
}

.service-detail__menu li {
  border: 1px solid #f2f2f2;
  border-top: none;
}

.service-detail__menu li:first-child {
  border-top: 1px solid #f2f2f2;
}

.service-detail__menu a {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 35px 19px 30px;
}

.service-detail__menu a.current {
  background-color: #fbfcfd;
  font-weight: 500
}

.service-detail__right section:not(:last-child) {
  margin-bottom: 40px;
}